
<div data-controller="progressions" class="form-fields">
    <%= @song.name %>
    <div class="progressions--current">
        <% @progressions.each do |p| %>
            <div>
                <%= p.id %>
                <%= p.tag %>
                <%= p.print(@song.key, @song.scale) %>
                <div>Render: 
                    <%= render "progressions/form", progression: p %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="progressions--new" data-progressions-target="newProgsList">
        <button class="button" type="button" data-action="click->progressions#add_progression_form">Define new progression</button>
    </div>
</div>