
<div data-controller="progressions" class="form-fields">
    <%= @song.name %>
    <div class="progressions--current">
        <% @progressions.each do |p| %>
            <div class="card card--progression">
                <div class="card-identifier"><%= p.id %></div>
                <%= p.tag %>
                <%= p.print(@song.key, @song.scale) %>
                <div>Render: 
                    <%= render "progressions/form", progression: p %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="progressions--new" data-progressions-target="newProgsList">
        <button class="button" type="button" data-action="click->progressions#add_progression_form">Define new progression</button>
    </div>

    <% # render "progression_chords/gen", form: progression_chords_form, progression_chord: progression_chords_form.object, key: Key.find_by_shorthand('C'), scale: Scale.find_by_name('Major'), progression_id: progression.id %>
</div>