
<%= form_with model: @song, url: "/save/" do |form| %>
    <%= form.collection_select :key_id, Key.all, :id, :shorthand %>
    <%= form.collection_select :scale_id, Scale.all, :id, :name %>
    <%= form.fields_for :song_progressions do |sp_form| %>
        <%= sp_form.fields_for :progressions do |p_form| %>
            <div>
                <h2>Chords</h2>
                <%= p_form.fields_for :progression_chords do |pc_form| %>
                    <div class="form-field">
                        <%= pc_form.label :degree %>
                        <%= pc_form.number_field :degree, in: 1..8, step: 1, value: 1 %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :modifier %>
                        <%= pc_form.number_field :modifier, in: -3..3, step: 1, value: 0 %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :bass_degree %>
                        <%= pc_form.number_field :bass_degree, in: 0..8, step: 1, value: 0 %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :bass_modifier %>
                        <%= pc_form.number_field :bass_modifier, in: -3..3, step: 1, value: 0 %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :chord %>
                        <%= pc_form.collection_select :chord_id, Chord.all, :id, :name %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :duration %>
                        <%= pc_form.number_field :duration %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :staccato %>
                        <%= pc_form.check_box :staccato %>
                    </div>
                    <div class="form-field">
                        <%= pc_form.label :muted %>
                        <%= pc_form.check_box :muted %>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <%= form.submit "Save" %>
<% end %>