<div class="action-bar">
    <fieldset>
        <legend>Sort by</legend>
        <%= link_to 'Reset', '/', class: "button" %>
        <%= link_to 'Capo', '?sort=capo', class: "button" %>
    </fieldset>
</div>
<table class="songs-list">
    <thead>
        <tr>
            <th>Song</th>
            <th>Artists</th>
            <th>Capo</th>
            <th>...</th>
        </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>
            <tr>
                <td class="songs-list__title">
                    <% if song.upgraded? %>
                        <%= link_to song.name, "/show_new/" << song.id.to_s %>
                    <% else %>
                        <%= link_to song.name, "/" << song.id.to_s %>
                    <% end %>
                </td>
                <td class="songs-list__artist"><%= song.get_artists %></td>
                <td class="songs-list__capo"><%= song.capo %></td>
                <td class="songs-list__play"><%= link_to "Play", "/play/" << song.id.to_s << "?from=home" %></td>
            </tr>
        <% end %>
    </tbody>
</table>