<!-- to be used with songs whose structure is dictated by SongProgression entities, rather than plaintext -->
<div class="show-song" data-controller="show-song"> 
    <%= link_to "< Back", "/", class: "button" %>
    <%= link_to 'Random', "/songs/" << Song.random_id.to_s %>
    <% if @song.id > 1 %>
        <%= link_to "<", "/songs/" << (@song.id - 1).to_s %>
    <% end %>
    <% if @song.id < Song.last.id %>
        <%= link_to ">", "/songs/" << (@song.id + 1).to_s %>
    <% end %>
    <%= link_to "Play", "/play/" << @song.id.to_s, class: "button" %>
    <%= link_to "Edit", "/edit/" << @song.id.to_s, class: "button" %>
    <%= link_to "Progressions", "/songs/" << @song.id.to_s << "/define_progressions", class: "button" %>
    <%= form_tag song_path(@song.id), method: :get do %>
        <h1>#<%= @song.id %>: <%= @song.get_artists %> - <%= @song.name %></h1>
        <div>Key: <%= @key.shorthand %></div>
        <div>
            <%= label_tag :capo, "Capo:" %>
            <%= select_tag :capo, options_for_select([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], selected: @capo) %>
        </div>
        <%= submit_tag "Apply" %>
    <% end %>
    <div>
        <%= @song.scale.print_in_key(Key.find(@key.id)) %>
    </div>

    <% @song.song_progressions.order(:sequence).each do |song_progression| %>
        <div class="song-progression__chords">
            <% beat_counter = 0 %>
            <% song_progression.progression.progression_chords.order(:sequence).each do |progression_chord| %>
                <% beat_counter += progression_chord.duration %>
                <% if beat_counter > 8 %>
                    <br/>
                    <% beat_counter = 0 %>
                <% end %>
                <%= progression_chord.print_with_colors(@key, @song.scale) %> 
            <% end %>
            <% unless song_progression.nil? %>
                <% if song_progression.reps > 1 %>
                    <%= song_progression.print_reps %>
                <% end %>
            <% end %>
        </div>
        <div class="song-progression__lyrics">
            <%= raw song_progression.html_lyrics %>
        </div>
    <% end %>
</div>