<!-- to be used with songs whose structure is dictated by SongProgression entities, rather than plaintext -->
 <%# options_panel %>
    <%= content_tag :div, class: "options-panel" do %>
        <%= link_to "< Back", "/", class: "button" %>
        <%= link_to "Edit", "/edit/" << @song.id.to_s, class: "button" %>
        <%= link_to "Progressions", "/songs/" << @song.id.to_s << "/define_progressions", class: "button" %>
        <%= link_to "Song Progressions", "/songs/" << @song.id.to_s << "/define_song_progressions", class: "button" %>
        <%= link_to 'Random', "/songs/" << Song.random_id.to_s, class: "button" %>
    <% end %>
    <%= form_tag song_path(@song.id), method: :get do %>
        <%= tag.div class: "title" do %>
            <% if @song.id > 1 %>
                <%= link_to "<", "/songs/" << (@song.id - 1).to_s, class: "button" %>
            <% end %>
            <h1>#<%= @song.id %>: <%= @song.get_artists %> - <%= @song.name %></h1>
            <% if @song.id < Song.last.id %>
                <%= link_to ">", "/songs/" << (@song.id + 1).to_s, class: "button" %>
            <% end %>
        <% end %>
        <div>Key: <%= @key.shorthand %></div>
        <div>
            <%= label_tag :capo, "Capo:" %>
            <%= select_tag :capo, options_for_select([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], selected: @capo) %>
            <%= content_tag :div, id: "song-play-count" do %>
                <%= t('models.song.practiced', times: @song.nb_practices.to_s) %>
            <% end %>
        </div>
        <%= submit_tag "Apply" %>
        <%= turbo_link_button "Play", play_song_path(@song.id) %>  
        <%= turbo_link_button "Piano", instrument_choice_path(song_id: @song.id, instrument_id: Instrument.find_by_name("Piano").id), :post %>
        <%= %>
    <% end %>
    <%= content_tag :div, class: "song-top-panel" do %>
        <%= render "scales/print", scale: @song.scale, key: @key %> 
        <%= tag.div id: "instrument" do %>
            <%= render "instruments/guitar/neck" %>
            <%# render "instruments/piano/keys", song: @song, scale_pitch_ids: @accepted_pitch_ids %>
        <% end %>
    <% end %>
<%= tag.div class: "show-song", data: { controller: "show-song" } do %> 
    <%= Songs::Printer.new(@song, @key, @song.scale).print %>
<% end %>