<!-- to be used with songs whose structure is dictated by SongProgression entities, rather than plaintext -->
<div class="show-song">
    <fieldset>
        <legend>#<%= @song.id %>: <%= @song.get_artists %> - <%= @song.name %></legend>
        <div>Key: <%= @song.key.shorthand %></div>
        <div>Capo: <%= @song.capo %></div>
    </fieldset>

    <% @song.song_progressions.order(:sequence).each do |song_progression| %>
        <div class="song-progression__chords">
            <% song_progression.progression.progression_chords.order(:sequence).each do |progression_chord| %>
                <%= progression_chord.print %>
                <% progression_chord.duration.to_i.times do |i| %>
                    -
                <% end %>
            <% end %>
        </div>
        <div class="song-progression__lyrics">
            <%= raw song_progression.html_lyrics %>
        </div>
    <% end %>
</div>