<div class="show-song">
    <%= tag.div class: "song-actions" do %>
        <%= link_to "< Back", "/", class: "button" %>
        <%= link_to 'Random', "/songs/" << Song.random_id.to_s, class: "button" %>
        <%= link_to "Play", play_song_path(@song.id), class: "button", data: { turbo_stream: true } %>
        <%= link_to "Define Progressions", song_progressions_path(@song), class: "button" %>
    <% end %>
    <h1 class="song-title"><%= @song.name %></h1>
    <h3 class="song-artist"><%= @song.get_artists %></h3>
    <h5 class="song-capo">Capo <%= @song.capo %></h5>
    <h5 class="song-key">Key <%= @song.key %></h5>
    <h5>Practiced: <%= @song.nb_practices %>x</h5>
    <%= @song.chords %>
    <% @song.default_output.each do |line| %>
        <% if line[:type] == Song::OUTPUT_LINE_TYPE__CHORDS %>
            <div class="song-line song-line--chords"> 
        <% else %>
            <div class="song-line song-line--lyrics>">
        <% end %>
            <%= line[:content] %>
        </div>
    <% end %>
</div>