<%= tag.div class: "song-header" do %>
    <%= tag.div class: "song-actions" do %>
        <%= link_to "< Back", root_path, class: "button" %>
        <%= link_to 'Random', song_path(Song.random_id.to_s), class: "button" %>
        <%= turbo_link_button "Play", song_plays_path(song_id: @song.id), method: :post %>  
        <%= turbo_link_button "Play+", song_plays_path(song_id: @song.id, by_heart: true), method: :post %>  
        <%= link_to t('cta.define_progression_templates'), song_progression_templates_path(@song), class: "button" %>
    <% end %>
    <h1 class="song-title"><%= @song.name %></h1>
    <h3 class="song-artist"><%= @song.artist %></h3>
    <h5 class="song-capo">Capo <%= @song.capo %></h5>
    <h5 class="song-key">Key <%= @song.key %></h5>
    <h5>Practiced: <%= @song.plays(current_user) %>x</h5>
    <%= @song.chords %>
<% end %>
<div class="show-song">
    <% @song.default_output.each do |line| %>
        <% if line[:type] == Song::OUTPUT_LINE_TYPE__CHORDS %>
            <div class="song-line song-line--chords"> 
        <% else %>
            <div class="song-line song-line--lyrics>">
        <% end %>
            <%= line[:content] %>
        </div>
    <% end %>
</div>