<%= tag.h1 t("auth.forgot_password.title") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <%= tag.div class: "field" do %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: User.human_attribute_name(:email) %>
    <% end %>
    
    <%= tag.div class: "actions" do %>
        <%= f.submit t("auth.forgot_password.submit") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
