<%= form_with model: song, url: define_progressions_song_path(song) do |form| %>
    <%= form.label song.name %>
    <div class="progressions--current">
        <% progressions.each do |p| %>
            <div>
                <%= p.id %>
                <%= p.tag %>
                <%= p.print(song.key, song.scale) %>
                <div>Render: 
                    <%= render "progressions/form", progression: p %>
                    <% if p.id == 1 %>
                        <% puts render("progressions/form", progression: p) %>
                        <%= render "progressions/form", progression: p %>
                    <% end %>
                    <% puts "xxxxx" << p.id.to_s %>
                    <%= p.inspect %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="progressions--new" data-progressions-target="newProgsList">
        <button class="button" type="button" data-action="click->progressions#add_progression_form">Define new progression</button>
    </div>
<% end %>


