<% progression_chord ||= ProgressionChord.new(degree: 1, chord: Chord.find_by_name('Major Triad'), duration: 2) %>
<div class="generator progression-chord-generator">

    <div class="generator__display" data-progressions-target="display">
        <%= progression_chord.print(key,scale) %>
    </div>
    <div class="generator__inputs">
        <input type="hidden" data-field="progression_scale" name="progression[scale_id]" data-progressions-target="inputScale" value="<%= scale.id %>" />
        <input type="hidden" data-field="progression_key" name="progression[key_id]" data-progressions-target="inputKey" value="<%= key.id %>" />
        <input type="hidden" data-field="progression_id" name="progression[id]" data-progressions-target="inputId" value="<%= progression_id ||= 0 %>" />
        <input type="hidden" data-field="progression_chord_id" name="progression[progression_chords_attributes][<%= progression_chord.sequence || 0 %>][id]" data-progressions-target="inputProgressionChordId" value="<%= progression_chord.id || 0 %>" />
        <input type="hidden" data-field="progression_chord_sequence" name="progression[progression_chords_attributes][<%= progression_chord.sequence || 0 %>][sequence]" value="<%= progression_chord.sequence || 0 %>" />
        <!-- degree input -->
        <%= content_tag :div, class: "generator__input generator__input--degree", "data-progressions-target" => "inputDegree" do %>
            <%= render partial: 'progression_chords/degree_picker', locals: { scale: scale, key: key, form: form, selected_degree: progression_chord.degree } %>
        <% end %>
        <!-- modifier input -->
        <div class="generator__input generator__input--degree-modifier">
            <%= render partial: 'progression_chords/modifier_picker', locals: { form: form } %>
        </div>
        <%= content_tag :div, class: "bass-controls"  << (" hidden" if progression_chord.bass_degree.nil?), "data-progressions-target" => "bassControls" do %>
            <%= form.label "Bass note" %>
            <!-- bass degree input -->
            <%= content_tag :div, class: "generator__input generator__input--bass-degree", "data-progressions-target" => "inputBassDegree" do %>
                <%= render partial: 'progression_chords/degree_picker', locals: { scale: scale, key: key, form: form, selected_degree: progression_chord.bass_degree, attr_name: 'bass_degree' } %>
            <% end %>
            <!-- bass modifier input, hide by default if progression chord has no bass_degree, show with front-end -->
            <%= content_tag :div, class: "generator__input generator__input--bass-degree-modifier" do %>
                <%= render partial: 'progression_chords/modifier_picker', locals: { form: form, attr_name: 'bass_modifier' } %>
            <% end %>
        <% end %>
        <!-- chord type input -->
        <%= content_tag :div, class:"generator__input generator__input--chord-type" do %>
            <% # form.label :chord %>
            <%= form.collection_select :chord_id, Chord.for_select, :id, :name, {}, { "data-progressions-target" => "inputChordType", "data-action" => "change->progressions#on_chordType_change", "data-progression" => progression_id, "data-sequence" => progression_chord.sequence || 0, "data-progression-chord" => progression_chord.id || 0 } %>
        <% end %>
        <!-- form settings -->
        <div class="generator__input generator__input--settings">
            <%= form.label :setting_bass, "Set bass" %>
            <%= check_box_tag "set-bass", "0", false, { "data-progressions-target" => "settingSetBass", "data-action" => "click->progressions#on_setBass_change" } %>
        </div>
        <!-- duration input -->
        <div class="generator__input generator__input--duration">
            <%= form.label :duration, "Duration (in ticks)" %>
            <%= form.number_field :duration, min: 1, step: 1, "data-progressions-target" => "inputDuration" %>
        </div>
        <!-- action buttons panel -->
        <div class="generator__input generator__input--actions">
            <%= button_tag "Cancel", type: "reset", "data-action" => "click->progressions#do_stuff" %>
            <%= link_to_remove_association "Delete", form, { style: "background: red;" } %>
            <%= form.submit "Confirm", { class: "confirm", style: "background: green;" } %>
        </div>
    <!--

        <%= form.label :staccato %>
        <%= form.check_box :staccato %>

        <%= form.label :muted %>
        <%= form.check_box :muted %> -->
    </div>
    <div class="generator__actions">
    </div>
</div>