<% form_name ||= 'progression[progression_chords_attributes][' + form.options[:child_index].to_s + ']' %>
<% attr_name ||= 'modifier' %>
<input type="range" name="<%= form_name %>[<%= attr_name %>]" min="-3" max="3" step="1" orient="horizontal" list="<%= attr_name %>-markers"  data-progressions-target="input<%= attr_name.camelcase %>" data-action="change->progressions#on_<%= attr_name.camelcase(:lower) %>_change">
<datalist class="<%= attr_name %>-markers">
    <option value="-3" label="-3"></option>
    <option value="-2"></option>
    <option value="-1"></option>
    <option value="0" label="0"></option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3" label="3"></option>
</datalist>